.addCarModalForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.formLabel {
  margin: 0;
  font-weight: 600;
}

.dateInput {
  margin-bottom: 0;
  font-weight: 600;
  width: 210px;
}

label:after {
  content: "*";
  color: red;
}

.formDropdown {
  width: 210px;
  border: 1px solid lightgrey;
  padding: 14px;
}

.closeButton {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #ffffff80;
  opacity: 0.5;
}

.closeButton:hover {
  color: #000;
  text-decoration: none;
}
.closeButton:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}
