h3 {
    font-weight: 600;
}

input {
    max-width: 45%;
    font-weight: 300;

}

::-webkit-input-placeholder {
    font-weight: lighter;
    color:#AFB2B3 !important;
}

.reviewsSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
