.pageWrapper {
  background-image: url("../../public/images/hero_1.jpg");
  display: flex;
  justify-content: center;
}

.formWrapper {
  margin: 40px auto;
  width: 30%;
  min-height: 60vh;
}

.heading {
  text-align: center;
  font-weight: bold;
}

.form {
  padding: 40px;
  background-color: lightgrey;
  border-radius: 20px;
  margin-top: 20px;
}

.createAccountBtn {
  padding: 14px;
  margin-top: 28px;
  width: 100%;
  border-radius: 10px;
}

.link {
  margin-top: 4px;
  text-decoration: underline;
}

input {
  margin-bottom: 6px;
}

label {
    font-weight: bold;
}