.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.cardWrapper {
  padding: 8px;
  background-color: lightgrey;
  font-size: medium;
  border-radius: 8px;
}

.price {
  color: #007bff;
  font-weight: 600;
}

.carIconXmark {
  color: red;
  margin-right: 2px;
}

.carIconCheck {
  color: green;
  margin-right: 2px;
}
