.detailsHeading3 {
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

.reviewInput {
  max-width: 45%;
  font-weight: 300;
}

.reviewInput::placeholder {
  font-weight: lighter;
  color: #afb2b3 !important;
}

.contentBody {
  display: grid;
  width: 100%;
  padding: 0;
}

.detailsRow {
  gap: 50px;
}

.contentBody li {
  list-style: none;
}

.reviewsSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.reviewForm {
  margin-bottom: 20px;
}

.siteSection {
  background-color: #d3d3d382;
  min-height: 800px;
}

.rentinForm {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.contentBody b {
  font-weight: bold;
}

.contentBody span {
  font-size: large;
}
