h3 {
    font-weight: 600;
    margin-top: 4rem;
}

.reviewInput {
    max-width: 45%;
    font-weight: 300;

}

.reviewInput::placeholder {
    font-weight: lighter;
    color:#AFB2B3 !important;
}

.reviewsSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.reviewForm {
    margin-bottom: 20px;
}

.siteSection {
    background-color: #d3d3d382;
}