.rentFormDiv {
    width: 700px !important;
    right: -140px;
    margin-top: 88px;
    border-radius: 7px;
    padding: 30px;
    background: #fff;
    position: absolute;
    z-index: 3;
    -webkit-box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.062);
    box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.315);
}

.inputDateForm {
    width: 220px;
}

.inputsRow {
    align-items: center;
    justify-content: space-evenly;
}

.rentButton {
    padding: 36px;
    margin-top: 18px;
    margin-bottom: 0;
    margin-left: 10px;
    border-radius: 8px;
}